
html, body {
    height: 100%;
}

#SearchContainer{
    height:15rem; 
    background-color: white;
}

#searchSuggestions{
    margin-top:6.2rem;
}

#caughtContainer {
    margin-top:15rem;
}

#myBreedCol1{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card{
    width: 25rem;
}

#genericBreedCard{
    display:none;
}

.btn-circle {
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    font-weight: 900;
}

#deleteEachBreed{
    position:absolute;
    top:0;
    right:0;
}

#searchSuggestions {
    display: none;
}
